# local package
-e .

# external requirements
pyparsing
jira
gitpython
github3.py
javalang
pandas
junitparser
click
tqdm
jupyter
scikit-learn
plotnine
imblearn
beautifulsoup4
tabulate

# testing requirements
pytest
pytest_steps